<!-- about about-anunta start-->
<section>
    <div class="contactus-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="top-banner">
                    <img src="images/aboutanunta/about-anunta.jpg" alt="" class="img-responsive">
                    <div class="banner-heading">
                        <h3>About Anurita Ghoshal</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!-- about about-anunta end-->

<!--side-upper-img start-->        
<section>
    <div class="side-upper-img">
    
        <div class="container-fluid nopad">
            <div class="row">
                <div class="col-sm-6">
                    <div class="sideimg1"> 
                     <img src="images/aboutanunta/side-upper-img.png" alt="" class="img-responsive">   
                    </div>
                    <p class="anuntatext"> Anurita Ghoshal </p>
                    <p id="Anurita-Ghoshal">
                        Anurita Ghoshal quit her job as an advertising professional a few years ago to follow her passion. Her love for baking took her to Le Cordon Bleu Paris where she learnt at the hands of the Master chefs at one of the best Pastry schools in the world. Her experience at school re- instated her passion and she came back to Mumbai to start Eighth - her baking studio - her eighth Sin!  The studio is where she bakes on order and also teaches baking to adults as well as kids.
                        Anurita constantly believes in reinventing herself. Part of her self training included an internship at Can Jubany - a Michelin Starred Catalan restaurant in Catalonia, Spain, owned by Chef Nandu Jubany. Here she trained in the Pastry department.
                        In just a couple of years of starting Eighth, Anurita has established herself as one of the better bakers in Mumbai. 

                        Anurita has been a part of Celebrate Bandra - an annual festival celebrating Bandra's art, culture and food, and has been hosting baking workshops for kids. 
                        She has been conducting baking work shops and over the past years has extended her passion for baking by teaching hundreds of kids and adults at her baking studio. 
                        Her decadent chocolate cakes, classic tea cakes, brownies have found a place at many a home in the city.
                        She has been a part of the the Yoga House in Bandra for a few years now and her carrot cake and cookies have found a regular place on their menu. 
                        Anurita hosts private baking classes, childrens birthdays, invites likeminded chefs to run classes and sometimes hosts very relaxed Sunday morning breakfasts at her studio.
                        To know more about the exciting things happening at Eighth log onto 
                    </p>

                    <p class="linktext">
                       <img src="images/aboutanunta/web.png"> www.eighthbyanurita.com <img src="images/aboutanunta/fb.png" class="imgfb"> <img src="images/aboutanunta/shape.png">
                    </p>

                </div>
                <div class="col-sm-6">
                    <div class="img_galalry">
                        <img src="images/aboutanunta/web3.png" class="img1">
                    </div>
                    <div class="img_galalry2">
                         <img src="images/aboutanunta/web2.png">
                         <img src="images/aboutanunta/img7.png" class="img-responsive left_img">


                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="clearfix"></div>
</section>
<!--side-upper-img end-->