<section>
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel" id="banner-carousal">
                <div class="banners banner1">
                    <div class="details">
                        <h2>
                            <i>Summer Bakeing<br>Classes For Kids</i>
                            <span>Mumbai: May-June</span>
                        </h2>
                        <a href="" class="btn btn-default">Know more</a>
                    </div>
                </div>
                <div class="banners banner1">
                    <div class="details">
                        <h2>
                        <i>Summer Bakeing<br>Classes For Kids</i>
                        <span>Mumbai: May-June</span>
                        </h2>
                        <a href="" class="btn btn-default">Know more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course details start -->
<section>
    <div class="course-details">
        <div class="container">
            <div class="row">
                <div class="details">
                    <div class="cookies">
                        <img src="images/home/cookies.png" alt="cake" class="img-responsive">
                    </div>
                    <div class="heading">
                        <img src="images/chef-cap.png" alt="">
                        <h3>Course Details</h3>
                        <p>The Summer  Chefs  Program at Eighth is a unique opportunity for our Lil Chefs ( 5-8 yrs )  & Junior Chefs ( 9 -12 yrs ) members who are interested in mastering the basic baking  skills and techniques needed to embark on a lifetime love of baking. </p>
                    </div>
                    <div class="cooking">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="cook-image">
                                        <img src="images/one.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="cooking-details">
                                        <h5>Lil Chefs <span>5-8 yrs </span></h5>
                                        <span>2 day class </span>
                                        <p>The summer  program is designed for children based on experience and skill (ages vary) delivering a...</p>
                                        <a href="" class="btn btn-default">Know more</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="cook-image">
                                        <img src="images/one.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="cooking-details">
                                        <h5>Lil Chefs <span>5-8 yrs </span></h5>
                                        <span>2 day class </span>
                                        <p>The summer  program is designed for children based on experience and skill (ages vary) delivering a...</p>
                                        <a href="" class="btn btn-default">Know more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="candy">
                        <img src="images/home/candy.png" alt="candy" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course details end -->