<section>
    <div class="container-fluid">
        <div class="row">
            <div class="owl-carousel" id="banner-carousal">
                <div class="banners banner1">
                    <div class="details">
                        <h2>
                            <i>Summer Bakeing<br>Classes For Kids</i>
                            <span>Mumbai: May-June</span>
                        </h2>
                        <a href="" class="btn btn-default">Know more</a>
                    </div>
                </div>
                <div class="banners banner1">
                    <div class="details">
                        <h2>
                        <i>Summer Bakeing<br>Classes For Kids</i>
                        <span>Mumbai: May-June</span>
                        </h2>
                        <a href="" class="btn btn-default">Know more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course details start -->
<section>
    <div class="course-details">
        <div class="container">
            <div class="row">
                <div class="details">
                    <div class="cookies">
                        <img src="images/home/cookies.png" alt="cake" class="img-responsive">
                    </div>
                    <div class="heading">
                        <img src="images/chef-cap.png" alt="">
                        <h3>Course Details</h3>
                        <p>The Summer  Chefs  Program at Eighth is a unique opportunity for our Lil Chefs ( 5-8 yrs )  & Junior Chefs ( 9 -12 yrs ) members who are interested in mastering the basic baking  skills and techniques needed to embark on a lifetime love of baking. </p>
                    </div>
                    <div class="cooking">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="cook-image">
                                        <img src="images/one.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="cooking-details">
                                        <h5>Lil Chefs <span>5-8 yrs </span></h5>
                                        <span>2 day class </span>
                                        <p>The summer  program is designed for children based on experience and skill (ages vary) delivering a...</p>
                                        <a href="" class="btn btn-default">Know more</a>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="cook-image">
                                        <img src="images/one.jpg" alt="" class="img-responsive">
                                    </div>
                                    <div class="cooking-details">
                                        <h5>Lil Chefs <span>5-8 yrs </span></h5>
                                        <span>2 day class </span>
                                        <p>The summer  program is designed for children based on experience and skill (ages vary) delivering a...</p>
                                        <a href="" class="btn btn-default">Know more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="candy">
                        <img src="images/home/candy.png" alt="candy" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- course details end -->
<!-- about us start -->
<section>
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="details">
                    <div class="col-sm-6">
                        <div>
                            <img src="images/chef-cap.png" alt="">
                            <h3>About Anurita Ghoshal</h3>
                            <p>Anurita Ghoshal quit her job as an advertising professional a few years ago follow her passion . Her love for baking took her to Le Cordon Bleu  Paris where she learnt at the hands of the Master chefs at one of the best Pastry schools in the world .Her experience at school re- instated her passion...</p>
                            <a href="" class="btn btn-default">Know more</a>
                        </div>
                    </div>
                </div>
                <div class="anurita-ghoshal">
                    <img src="images/Anurita-Ghoshal.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about us end -->
<!-- press and reviews start -->
<section>
    <div class="course-details press-and-reviews">
        <div class="container">
            <div class="row">
                <div class="details">
                    <div class="heading">
                        <img src="images/chef-cap.png" alt="">
                        <h3>Press & Reviews</h3>
                    </div>
                    <div class="press-logos">
                        <div class="owl-carousel" id="logos-carousal">
                            <div class="logos">
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo1.jpg" alt="logo_img">
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo9.jpg" alt="logo_img">
                                </a>
                            </div>
                            <div class="logos">
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo2.jpg" alt="logo_img">
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo10.jpg" alt="logo_img">
                                </a>
                            </div>
                            <div class="logos">
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo3.jpg" alt="logo_img">
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo11.jpg" alt="logo_img">
                                </a>
                            </div>
                            <div class="logos">
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo4.jpg" alt="logo_img">
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo12.jpg" alt="logo_img">
                                </a>
                            </div>
                            <div class="logos">
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo5.jpg" alt="logo_img">
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo13.jpg" alt="logo_img">
                                </a>
                            </div>
                            <div class="logos">
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo6.jpg" alt="logo_img">
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo14.jpg" alt="logo_img">
                                </a>
                            </div>
                            <div class="logos">
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo7.jpg" alt="logo_img">
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo15.jpg" alt="logo_img">
                                </a>
                            </div>
                            <div class="logos">
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo8.jpg" alt="logo_img">
                                </a>
                                <a href="javascript:void(0);">
                                    <img src="images/logo/logo16.jpg" alt="logo_img">
                                </a>
                            </div>
                        </div>
                        <div class="cake">
                            <img src="images/home/cake.png" alt="cake" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- press and reviews end -->
<!-- loaction start -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="location">
                <img src="images/map.jpg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>
<!-- loaction end -->