<section>
    <div class="contactus-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="top-banner">
                    <img src="images/contact-us/top-banner.jpg" alt="" class="img-responsive">
                    <div class="banner-heading">
                        <h3>Contact Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!-- faqs starts -->
<section>
    <div class="
        <img src="images/" alt="" class="img-responsive">">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="col-sm-6">
                        <div class="content">
                            <img src="images/" alt="" class="img-responsive">
                            <h6>Email Id</h6>
                            <p><a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="content">
                            <img src="images/" alt="" class="img-responsive">
                            <h6>Address</h6>
                            <p>Eighth Studio, 12, Rosy Red Building,</p> 
                            <p>Off Carter Road, Near YMCA,</p>
                            <p>Bandra (W), Mumbai</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faqs ends -->