<section>
    <div class="faqs-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="top-banner">
                    <img src="images/faqs/top-banner.jpg" alt="" class="img-responsive">
                    <div class="banner-heading">
                        <h3>Frequently Asked Questions</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<!-- faqs starts -->
<section>
    <div class="faqs">
        <div class="container">
            <div class="faqs-accordian">
                <ul>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>How do I register for the class? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>The class that I want is sold out. What are my options? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>Can I change my dates after I have booked them? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>What will my child learn at the class? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>Do the kids need to bring anything to class and can they take home what they bake in class? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>What if my child has any food allergies? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>Where will the classes be held? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>How long is each class? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>How many students in a class? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>Can my child attend the class in another batch if he/she misses one day? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>Will my child be exposed to fire?oven/gas/knives etc?  <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>I have booked seats and am awaiting more details about my class. Now what? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                    <li>
                        <h5 class="accordian-head"><span>Q: </span>Do you teach private classes? <span><i class="fa fa-plus"></i></span></h5>
                        <div class="accordian">
                            <p>A: If you can't connect for any reason then - </p>
                            <p>Contact us at <a href="mailto:eighth.anurita@gmail.com">eighth.anurita@gmail.com</a> or call/text on 98202 67003.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sweet">
                <img src="images/faqs/sweet.png" alt="sweet" class="img-responsive">
            </div>
        </div>
    </div>   
</section>
<!-- faqs ends -->